/* General Styles */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f4f3f3;
    margin: 0 auto;
    font-family: 'Poppins', 'Times New Roman', Times, serif;
}

h1,
h3 {
    font-family: 'Ubuntu', serif;
    text-align: center;
}

h1 {
    color: #384872;
}

/* Navbar Styles */

.navbar {
    background-color: #1D2B53;
    display: flex;
    justify-content: space-between;
    height: 64px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0;
}

nav li {
    padding: 10px;
}

div.logo {
    display: flex;
}

nav a:active {
    color: #ff0000;
}

nav a:hover {
    background-color: #7E2553;
    transition: 1s;
    border-radius: 5px;
}

div.nav-links {
    direction: rtl;
    text-decoration: none;
    padding: 20px;
}

/* List Styles */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    font-size: small;
}

li {
    display: inline-block;
    text-align: center;
    padding: 16px 2px 16px 14px;
}

/* Jumbotron Styles */

div.jumbotron {
    background-image: url('/src/assets/IMG-20240125-WA0012.jpg');
    background-size: auto;
    color: #fff;
    text-align: center;
    font-size: x-large;
    padding: 50px 250px 320px;
}

.jumbotron-article {
    direction: ltr;
    text-align: left;
}

/* Introduction Section Styles */

.pengantar-jy {
    font-size: medium;
    font-family: 'Fira Sans', serif;
    text-align: center;
    margin: 40px;
    color: #1D2B53;
}

/* Container Styles */

div.container-akar {
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
}

div.sejarah-div,
div.kegiatan-div,
div.keseruan-div {
    width: 300px;
    height: 250px;
    background-color: #1D2B53;
    margin-bottom: 20px;
    border-radius: 10px;
}


/*Button*/
/* Members Section Styles */

div.container-ketiga {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    justify-content: space-around;
}

div.container-ketiga > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

div.container-kedua {
    display: flex;
    justify-content: center;
}

div.timeline {
    align-items: center;
    padding: 50px;
}


ul.timeline-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: black;
}

/* Footer Styles */
footer {
    background-color: #1D2B53;
    text-align: center;
    font-family: 'Poppins', serif;
    color: white;
    padding: 5px;
}

/* Mobile Responsive Styles */
@media screen and (max-width: 768px) {
    html {
        margin: 0 auto;
        overflow-x: hidden;
    }

    body {
        padding: 0;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        display: block;
        text-align: center;
        padding: 10px;
        margin: 0;
    }

    div.logo {
        margin-bottom: 10px;
    }

    div.nav-links {
        text-align: center;
        padding: 10px;
    }

    .jumbotron {
        padding: 20px 100px 220px;
    }

    .jumbotron-article {
        text-align: center;
        direction: ltr;
        align-items: center;
    }

    div.container-akar {
        flex-direction: column;
        align-items: center;
    }

    footer {
        width: 100%;
        font-size: 60%;
    }

    div.container-ketiga {
        flex-direction: column;
        align-items: center;
    }
}