/* General Styles */

html {
    scroll-behavior: smooth;
}

/*CSS Variable */
:root {
    --primary-color: #1D2B53;
    --secondary-color: #7E2553;
    --tertiary-color: #384872;
    --quaternary-color: white;
    --quinary-color: #172440;
}

body {
    background-color: var(--quaternary-color);
    margin: 0 auto;
    font-family: 'Poppins', 'Times New Roman', Times, serif;
}


.dark-mode {
    background-color: black;
}


h1,
h3 {
    font-family: 'Ubuntu', serif;
    text-align: center;
}

h1 {
    color: #384872;
}

/* Navbar Styles */

.navbar {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    height: 64px;
}

nav a {
    color: var(--quaternary-color);
    text-decoration: none;
    margin: 0;
}

nav li {
    padding: 10px;
}

div.logo {
    display: flex;
}

nav a:active {
    color: #ff0000;
}

nav a:hover {
    background-color: var(--secondary-color);
    transition: 1s;
    border-radius: 5px;
}

div.nav-links {
    direction: rtl;
    text-decoration: none;
    padding: 20px;
}


/* Dark mode styles */
.theme-switch {
    position: relative;
    top: -35px;
    bottom: -50px;
    right: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    background-color: var(--quaternary-color);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s;
}

/* List Styles */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--quaternary-color);
    font-size: small;
}

li {
    display: inline-block;
    text-align: center;
    padding: 16px 2px 16px 14px;
}

/* Jumbotron Styles */
div.jumbotron {
    background-image: url('/src/assets/IMG-20240125-WA0012.jpg');
    background-size: auto;
    color: var(--quaternary-color);
    text-align: center;
    font-size: x-large;
    padding: 50px 250px 320px;
}

.jumbotron-article {
    direction: ltr;
    text-align: left;
}

/* Introduction Section Styles */
.pengantar-jy {
    font-size: medium;
    font-family: 'Fira Sans', serif;
    text-align: center;
    margin: 40px;
    color: var(--primary-color);
}

/* Container Styles */
div.container-akar {
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
}

div.sejarah-div,
div.kegiatan-div,
div.keseruan-div {
    width: 300px;
    height: 250px;
    background-color: var(--primary-color);
    margin-bottom: 20px;
    border-radius: 10px;
}


/*Button*/
/* Members Section Styles */
div.container-ketiga {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    justify-content: space-around;
}

div.container-ketiga > div {
    background-color: var(--quaternary-color);
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

div.container-kedua {
    display: flex;
    justify-content: center;
}

div.timeline {
    align-items: center;
    padding: 50px;
}

ul.timeline-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: black;
}

/* container to handle gallery grid
 */
div.image-container {
    background-color: var(--quaternary-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 70px;
    justify-items: center;
    row-gap: 100px;
    column-gap: 100px;
    margin: 20px 20px 40px;
}

div.item {
    background-color: var(--primary-color);
    width: 200px;
    height: 200px;
}

a.prev:hover {
    border-color: #7E2553;
    border-radius: 10px;
    transition: 1s;
}

/* Footer Styles */
footer {
    background-color: #1D2B53;
    text-align: center;
    font-family: 'Poppins', serif;
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.footer-div p {
    font-size: 25px;
}

/*terms and service*/
div.footer-div div.terms p {
    text-align: left;
    margin-top: 1px;
    font-size: 15px;
}


/* Mobile Responsive Styles */
@media screen and (max-width: 600px) {
    html {
        margin: 0 auto;
        overflow-x: hidden;
    }

    body {
        padding: 0;
    }

    .nav-links {
        display: none;
    }

    .nav-links a.icon {
        display: inline;
    }

    div.logo {
        margin-bottom: 10px;
    }

    div.nav-links {
        text-align: center;
        padding: 10px;
        position: fixed;
        overflow: hidden;
    }

    .jumbotron {
        padding: 20px 100px 220px;
    }

    .jumbotron-article {
        text-align: center;
        direction: ltr;
        align-items: center;
    }

    div.container-akar {
        flex-direction: column;
        align-items: center;
    }

    footer {
        width: 100%;
        font-size: 60%;
    }

    div.container-ketiga {
        flex-direction: column;
        align-items: center;
    }
}